# Table of Contents

01 Importing Libararies <br/>
02 Importing Data <br/>
03 Data Cleaning
- Removing Unneccessary Columns and Creating Column Consistency 
- Data Quality Checks
    - Mixed Type Data
    - Missing Data
    - Duplicate Data  <br/> <br/>

04 Data Wrangling
- Adding Year Columns for each dataset
- Making a merged dataset

05 Exporting Data

# 01 Importing Libraries

In [1]:
# Importing Libaries
import pandas as pd
import numpy as np
import os

# 02 Importing Data

In [2]:
# Creating basic path
path = "A:\Python\World Happiness Project"

In [3]:
# Importing Each WHR Excel Report for each year into the workbook

# Importing 2015 World Happiness Report 
df_whr15 = pd.read_csv(os.path.join(path, '02 Data' , 'Original Data', 'WHR 2015.csv'),index_col = False)

# Importing 2016 World Happiness Report 
df_whr16 = pd.read_csv(os.path.join(path, '02 Data' , 'Original Data', 'WHR 2016.csv'),index_col = False)

# Importing 2017 World Happiness Report 
df_whr17 = pd.read_csv(os.path.join(path, '02 Data' , 'Original Data', 'WHR 2017.csv'),index_col = False)

# Importing 2018 World Happiness Report 
df_whr18 = pd.read_csv(os.path.join(path, '02 Data' , 'Original Data', 'WHR 2018.csv'),index_col = False)

# Importing 2019 World Happiness Report 
df_whr19 = pd.read_csv(os.path.join(path, '02 Data' , 'Original Data', 'WHR 2019.csv'),index_col = False)

# Importing 2020 World Happiness Report 
df_whr20 = pd.read_csv(os.path.join(path, '02 Data' , 'Original Data', 'WHR 2020.csv'),index_col = False)

# Importing 2021 World Happiness Report 
df_whr21 = pd.read_csv(os.path.join(path, '02 Data' , 'Original Data', 'WHR 2021.csv'),index_col = False)

# Importing 2022 World Happiness Report 
df_whr22 = pd.read_csv(os.path.join(path, '02 Data' , 'Original Data', 'WHR 2022.csv'),index_col = False)

# 03 Data Cleaning

## Removing Unneccessary Columns and Creating Column Consistency

The Columns I need for each yearly report are: <br/>
- Country <br/>
- Region <br/>
- Happiness Score <br/>
- GDP Per Capita <br/>
- Social Support <br/>
- Healthy Life Expectancy <br/>
- Freedom to make life choices <br/>
- Generosity <br/>
- Perceptions of Corruption <br/>

The reason being is that the other columns are inconsistent accross various datasets. Also these are the most important things when it comes to world happiness.

### 2015

In [7]:
df_whr15.head()

,Country,Happiness Score,GDP per Capita,Social Support,Healthy Life Expectancy,Freedom to make life choices,Perceptions of Corruption,Generosity
0,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811

In [5]:
# Dropping Region, Happiness Rank, Standard Error, and Dystopia Residual columns from 2015 World Happiness Report
df_whr15.drop(columns = ['Region','Happiness Rank', 'Standard Error', 'Dystopia Residual'], inplace = True)

In [6]:
# Renaming Columns 
df_whr15 = df_whr15.rename(columns={'Economy (GDP per Capita)':'GDP per Capita', 'Family': 'Social Support', 'Health (Life Expectancy)': 'Healthy Life Expectancy', 'Freedom': 'Freedom to make life choices',
                                    'Trust (Government Corruption)': 'Perceptions of Corruption'})

### 2016

In [11]:
df_whr16.head()

,Country,Happiness Score,GDP per Capita,Social Support,Healthy Life Expectancy,Freedom to make life choices,Perceptions of Corruption,Generosity
0,Denmark,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171
1,Switzerland,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083
2,Iceland,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678
3,Norway,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895
4,Finland,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492

In [9]:
# Dropping Region, Happiness Rank, Standard Error, and Dystopia Residual columns from 2016 World Happiness Report
df_whr16.drop(columns = ['Region','Happiness Rank', 'Lower Confidence Interval','Upper Confidence Interval', 'Dystopia Residual'], inplace = True)

In [10]:
# Renaming Columns 
df_whr16 = df_whr16.rename(columns={'Economy (GDP per Capita)':'GDP per Capita', 'Family': 'Social Support', 'Health (Life Expectancy)': 'Healthy Life Expectancy', 'Freedom': 'Freedom to make life choices',
                                    'Trust (Government Corruption)': 'Perceptions of Corruption'})

### 2017

In [15]:
df_whr17.head()

,Country,Happiness Score,GDP per Capita,Social Support,Healthy Life Expectancy,Freedom to make life choices,Generosity,Perceptions of Corruption
0,Norway,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
1,Denmark,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
2,Iceland,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
3,Switzerland,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
4,Finland,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612

In [13]:
# Dropping Happiness Rank, Whisker high, Whisker low, and Dystopia Residual columns from 2017 World Happiness Report
df_whr17.drop(columns = ['Happiness.Rank', 'Whisker.high','Whisker.low', 'Dystopia.Residual'], inplace = True)

In [14]:
# Renaming Columns 
df_whr17 = df_whr17.rename(columns={'Economy..GDP.per.Capita.':'GDP per Capita', 'Family': 'Social Support', 'Health..Life.Expectancy.': 'Healthy Life Expectancy', 'Freedom': 'Freedom to make life choices',
                                    'Trust..Government.Corruption.': 'Perceptions of Corruption', 'Happiness.Score': 'Happiness Score'})

### 2018

In [19]:
df_whr18.head()

,Country,Happiness Score,GDP per Capita,Social Support,Healthy Life Expectancy,Freedom to make life choices,Generosity,Perceptions of Corruption
0,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [17]:
# Dropping Overall Rank column from 2018 World Happiness Report
df_whr18.drop(columns = ['Overall rank'], inplace = True)

In [18]:
# Renaming Columns 
df_whr18 = df_whr18.rename(columns={'GDP per capita':'GDP per Capita', 'Social support': 'Social Support', 'Healthy life expectancy': 'Healthy Life Expectancy', 
                                    'Perceptions of corruption': 'Perceptions of Corruption', 'Score': 'Happiness Score', 'Country or region': 'Country'})

### 2019

In [23]:
df_whr19.head()

,Country,Happiness Score,GDP per Capita,Social Support,Healthy Life Expectancy,Freedom to make life choices,Generosity,Perceptions of Corruption
0,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [21]:
# Dropping Overall Rank column from 2019 World Happiness Report
df_whr19.drop(columns = ['Overall rank'], inplace = True)

In [22]:
# Renaming Columns 
df_whr19 = df_whr19.rename(columns={'GDP per capita':'GDP per Capita', 'Social support': 'Social Support', 'Healthy life expectancy': 'Healthy Life Expectancy', 
                                    'Perceptions of corruption': 'Perceptions of Corruption', 'Score': 'Happiness Score', 'Country or region': 'Country'})

### 2020

In [28]:
df_whr20.head()

,Country,Happiness Score,GDP per Capita,Social Support,Healthy Life Expectancy,Freedom to make life choices,Generosity,Perceptions of Corruption
0,Finland,7.8087,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857
1,Denmark,7.6456,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260
2,Switzerland,7.5599,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946
3,Iceland,7.5045,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541
4,Norway,7.4880,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101

In [25]:
# Dropping Regional indicator, standard error, upper/lower whisker from 2020 World Happiness Report
df_whr20.drop(columns = ['Regional indicator', 'Standard error of ladder score','upperwhisker','lowerwhisker'], inplace = True)

In [26]:
# Keeping the explained by factor columns and removing the similar ones from 2020 World Happiness Report
df_whr20.drop(columns = ['Logged GDP per capita', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption', 'Ladder score in Dystopia', 'Dystopia + residual','Social support'], inplace = True)

In [27]:
# Renaming Columns
df_whr20 = df_whr20.rename(columns={'Explained by: Log GDP per capita':'GDP per Capita','Explained by: Social support': 'Social Support','Explained by: Healthy life expectancy':'Healthy Life Expectancy',
                                    'Explained by: Freedom to make life choices': 'Freedom to make life choices', 'Explained by: Generosity': 'Generosity','Explained by: Perceptions of corruption':'Perceptions of Corruption',
                                    'Country name': 'Country', 'Ladder score': 'Happiness Score'})

### 2021

In [33]:
df_whr21.head()

,Country,Happiness Score,GDP per Capita,Social Support,Healthy Life Expectancy,Freedom to make life choices,Generosity,Perceptions of Corruption
0,Finland,7.842,1.446,1.106,0.741,0.691,0.124,0.481
1,Denmark,7.620,1.502,1.108,0.763,0.686,0.208,0.485
2,Switzerland,7.571,1.566,1.079,0.816,0.653,0.204,0.413
3,Iceland,7.554,1.482,1.172,0.772,0.698,0.293,0.170
4,Netherlands,7.464,1.501,1.079,0.753,0.647,0.302,0.384

In [30]:
# Dropping Regional indicator, standard error, upper/lower whisker from 2021 World Happiness Report
df_whr21.drop(columns = ['Regional indicator', 'Standard error of ladder score','upperwhisker','lowerwhisker'], inplace = True)

In [31]:
# Keeping the explained by factor columns and removing the similar ones from 2021 World Happiness Report
df_whr21.drop(columns = ['Logged GDP per capita', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption', 'Ladder score in Dystopia', 'Dystopia + residual','Social support'], inplace = True)

In [32]:
# Renaming Columns
df_whr21 = df_whr21.rename(columns={'Explained by: Log GDP per capita':'GDP per Capita','Explained by: Social support': 'Social Support','Explained by: Healthy life expectancy':'Healthy Life Expectancy',
                                    'Explained by: Freedom to make life choices': 'Freedom to make life choices', 'Explained by: Generosity': 'Generosity','Explained by: Perceptions of corruption':'Perceptions of Corruption',
                                    'Country name': 'Country', 'Ladder score': 'Happiness Score'})

### 2022

In [41]:
df_whr22.head()

,Country,Happiness Score,GDP per Capita,Social Support,Healthy Life Expectancy,Freedom to make life choices,Generosity,Perceptions of Corruption
0,Finland,7.821,1.892,1.258,0.775,0.736,0.109,0.534
1,Denmark,7.636,1.953,1.243,0.777,0.719,0.188,0.532
2,Iceland,7.557,1.936,1.320,0.803,0.718,0.270,0.191
3,Switzerland,7.512,2.026,1.226,0.822,0.677,0.147,0.461
4,Netherlands,7.415,1.945,1.206,0.787,0.651,0.271,0.419

In [35]:
# Dropping RANK, upper/lower whisker,Dystopia (1.83) + residual from 2022 World Happiness Report
df_whr22.drop(columns = ['RANK','Whisker-high','Whisker-low','Dystopia (1.83) + residual'], inplace = True)

In [36]:
# Renaming Columns
df_whr22 = df_whr22.rename(columns={'Explained by: GDP per capita':'GDP per Capita','Explained by: Social support': 'Social Support','Explained by: Healthy life expectancy':'Healthy Life Expectancy',
                                    'Explained by: Freedom to make life choices': 'Freedom to make life choices', 'Explained by: Generosity': 'Generosity','Explained by: Perceptions of corruption':'Perceptions of Corruption',
                                    'Happiness score':'Happiness Score'})

In [37]:
#Changing commas to periods in dataframe
df_whr22 = df_whr22.replace({',': '.'}, regex=True)

In [40]:
print(df_whr22.dtypes)

Country                          object
Happiness Score                 float64
GDP per Capita                  float64
Social Support                  float64
Healthy Life Expectancy         float64
Freedom to make life choices    float64
Generosity                      float64
Perceptions of Corruption       float64
dtype: object

In [39]:
# Converting columns to numeric
cols = df_whr22.columns.drop('Country')
df_whr22[cols] = df_whr22[cols].apply(pd.to_numeric)

## Data Quality Checks

### Mixed Type Data

In [84]:
# Checking for Mixed Data for World Happiness Report 2015
for col in df_whr15.columns.tolist():
  weird = (df_whr15[[col]].applymap(type) != df_whr15[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_whr15[weird]) > 0:
    print (col, ' mixed')
  else: print (col, ' consistent')

Country  consistent
Happiness Score  consistent
GDP per Capita  consistent
Social Support  consistent
Healthy Life Expectancy  consistent
Freedom to make life choices  consistent
Perceptions of Corruption  consistent
Generosity  consistent

C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\1610896662.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr15[[col]].applymap(type) != df_whr15[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\1610896662.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr15[[col]].applymap(type) != df_whr15[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\1610896662.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr15[[col]].applymap(type) != df_whr15[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\1610896662.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr15[[col]].applymap(type) != df_whr15[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\1610896662.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr15[[col]].applymap(type) != df_whr15[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\1610896662.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr15[[col]].applymap(type) != df_whr15[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\1610896662.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr15[[col]].applymap(type) != df_whr15[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\1610896662.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr15[[col]].applymap(type) != df_whr15[[col]].iloc[0].apply(type)).any(axis = 1)

In [85]:
# Checking for Mixed Data for World Happiness Report 2016
for col in df_whr16.columns.tolist():
  weird = (df_whr16[[col]].applymap(type) != df_whr16[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_whr16[weird]) > 0:
    print (col, ' mixed')
  else: print (col, ' consistent')

Country  consistent
Happiness Score  consistent
GDP per Capita  consistent
Social Support  consistent
Healthy Life Expectancy  consistent
Freedom to make life choices  consistent
Perceptions of Corruption  consistent
Generosity  consistent

C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\385379565.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr16[[col]].applymap(type) != df_whr16[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\385379565.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr16[[col]].applymap(type) != df_whr16[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\385379565.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr16[[col]].applymap(type) != df_whr16[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\385379565.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr16[[col]].applymap(type) != df_whr16[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\385379565.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr16[[col]].applymap(type) != df_whr16[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\385379565.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr16[[col]].applymap(type) != df_whr16[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\385379565.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr16[[col]].applymap(type) != df_whr16[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\385379565.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr16[[col]].applymap(type) != df_whr16[[col]].iloc[0].apply(type)).any(axis = 1)

In [86]:
# Checking for Mixed Data for World Happiness Report 2017
for col in df_whr17.columns.tolist():
  weird = (df_whr17[[col]].applymap(type) != df_whr17[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_whr17[weird]) > 0:
    print (col, ' mixed')
  else: print (col, ' consistent')

Country  consistent
Happiness Score  consistent
GDP per Capita  consistent
Social Support  consistent
Healthy Life Expectancy  consistent
Freedom to make life choices  consistent
Generosity  consistent
Perceptions of Corruption  consistent

C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\3239111184.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr17[[col]].applymap(type) != df_whr17[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\3239111184.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr17[[col]].applymap(type) != df_whr17[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\3239111184.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr17[[col]].applymap(type) != df_whr17[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\3239111184.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr17[[col]].applymap(type) != df_whr17[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\3239111184.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr17[[col]].applymap(type) != df_whr17[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\3239111184.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr17[[col]].applymap(type) != df_whr17[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\3239111184.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr17[[col]].applymap(type) != df_whr17[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\3239111184.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr17[[col]].applymap(type) != df_whr17[[col]].iloc[0].apply(type)).any(axis = 1)

In [87]:
# Checking for Mixed Data for World Happiness Report 2018
for col in df_whr18.columns.tolist():
  weird = (df_whr18[[col]].applymap(type) != df_whr18[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_whr18[weird]) > 0:
    print (col, ' mixed')
  else: print (col, ' consistent')

Country  consistent
Happiness Score  consistent
GDP per Capita  consistent
Social Support  consistent
Healthy life expectancy  consistent
Freedom to make life choices  consistent
Generosity  consistent
Perceptions of Corruption  consistent

C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\1992016974.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr18[[col]].applymap(type) != df_whr18[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\1992016974.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr18[[col]].applymap(type) != df_whr18[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\1992016974.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr18[[col]].applymap(type) != df_whr18[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\1992016974.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr18[[col]].applymap(type) != df_whr18[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\1992016974.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr18[[col]].applymap(type) != df_whr18[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\1992016974.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr18[[col]].applymap(type) != df_whr18[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\1992016974.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr18[[col]].applymap(type) != df_whr18[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\1992016974.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr18[[col]].applymap(type) != df_whr18[[col]].iloc[0].apply(type)).any(axis = 1)

In [88]:
# Checking for Mixed Data for World Happiness Report 2019
for col in df_whr19.columns.tolist():
  weird = (df_whr19[[col]].applymap(type) != df_whr19[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_whr19[weird]) > 0:
    print (col, ' mixed')
  else: print (col, ' consistent')

Country  consistent
Happiness Score  consistent
GDP per Capita  consistent
Social Support  consistent
Healthy life expectancy  consistent
Freedom to make life choices  consistent
Generosity  consistent
Perceptions of Corruption  consistent

C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\925858037.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr19[[col]].applymap(type) != df_whr19[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\925858037.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr19[[col]].applymap(type) != df_whr19[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\925858037.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr19[[col]].applymap(type) != df_whr19[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\925858037.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr19[[col]].applymap(type) != df_whr19[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\925858037.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr19[[col]].applymap(type) != df_whr19[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\925858037.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr19[[col]].applymap(type) != df_whr19[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\925858037.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr19[[col]].applymap(type) != df_whr19[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\925858037.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr19[[col]].applymap(type) != df_whr19[[col]].iloc[0].apply(type)).any(axis = 1)

In [89]:
# Checking for Mixed Data for World Happiness Report 2020
for col in df_whr20.columns.tolist():
  weird = (df_whr20[[col]].applymap(type) != df_whr20[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_whr20[weird]) > 0:
    print (col, ' mixed')
  else: print (col, ' consistent')

Country  consistent
Happiness Score  consistent
GDP per Capita  consistent
Social Support  consistent
Healthy life expectancy  consistent
Freedom to make life choices  consistent
Generosity  consistent
Perceptions of Corruption  consistent

C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\3402492740.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr20[[col]].applymap(type) != df_whr20[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\3402492740.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr20[[col]].applymap(type) != df_whr20[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\3402492740.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr20[[col]].applymap(type) != df_whr20[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\3402492740.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr20[[col]].applymap(type) != df_whr20[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\3402492740.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr20[[col]].applymap(type) != df_whr20[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\3402492740.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr20[[col]].applymap(type) != df_whr20[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\3402492740.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr20[[col]].applymap(type) != df_whr20[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\3402492740.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr20[[col]].applymap(type) != df_whr20[[col]].iloc[0].apply(type)).any(axis = 1)

In [90]:
# Checking for Mixed Data for World Happiness Report 2021
for col in df_whr21.columns.tolist():
  weird = (df_whr21[[col]].applymap(type) != df_whr21[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_whr21[weird]) > 0:
    print (col, ' mixed')
  else: print (col, ' consistent')

Country  consistent
Happiness Score  consistent
GDP per Capita  consistent
Social Support  consistent
Healthy life expectancy  consistent
Freedom to make life choices  consistent
Generosity  consistent
Perceptions of Corruption  consistent

C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\3780711563.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr21[[col]].applymap(type) != df_whr21[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\3780711563.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr21[[col]].applymap(type) != df_whr21[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\3780711563.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr21[[col]].applymap(type) != df_whr21[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\3780711563.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr21[[col]].applymap(type) != df_whr21[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\3780711563.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr21[[col]].applymap(type) != df_whr21[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\3780711563.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr21[[col]].applymap(type) != df_whr21[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\3780711563.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr21[[col]].applymap(type) != df_whr21[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\3780711563.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr21[[col]].applymap(type) != df_whr21[[col]].iloc[0].apply(type)).any(axis = 1)

In [91]:
# Checking for Mixed Data for World Happiness Report 2022
for col in df_whr22.columns.tolist():
  weird = (df_whr22[[col]].applymap(type) != df_whr22[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_whr22[weird]) > 0:
    print (col, ' mixed')
  else: print (col, ' consistent')

Country  consistent
Happiness score  consistent
GDP per Capita  consistent
Social Support  consistent
Healthy life expectancy  consistent
Freedom to make life choices  consistent
Generosity  consistent
Perceptions of Corruption  consistent

C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\3119272341.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr22[[col]].applymap(type) != df_whr22[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\3119272341.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr22[[col]].applymap(type) != df_whr22[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\3119272341.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr22[[col]].applymap(type) != df_whr22[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\3119272341.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr22[[col]].applymap(type) != df_whr22[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\3119272341.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr22[[col]].applymap(type) != df_whr22[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\3119272341.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr22[[col]].applymap(type) != df_whr22[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\3119272341.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr22[[col]].applymap(type) != df_whr22[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\Rajit\AppData\Local\Temp\ipykernel_14512\3119272341.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_whr22[[col]].applymap(type) != df_whr22[[col]].iloc[0].apply(type)).any(axis = 1)

No Mixed Type Data was found

### Missing Data

#### Checking for Missing Values

In [93]:
# Check for Missing Values for World Happiness Report 2015
df_whr15.isnull().sum()

Country                         0
Happiness Score                 0
GDP per Capita                  0
Social Support                  0
Healthy Life Expectancy         0
Freedom to make life choices    0
Perceptions of Corruption       0
Generosity                      0
dtype: int64

In [94]:
# Check for Missing Values for World Happiness Report 2016
df_whr16.isnull().sum()

Country                         0
Happiness Score                 0
GDP per Capita                  0
Social Support                  0
Healthy Life Expectancy         0
Freedom to make life choices    0
Perceptions of Corruption       0
Generosity                      0
dtype: int64

In [95]:
# Check for Missing Values for World Happiness Report 2017
df_whr17.isnull().sum()

Country                         0
Happiness Score                 0
GDP per Capita                  0
Social Support                  0
Healthy Life Expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of Corruption       0
dtype: int64

In [48]:
# Check for Missing Values for World Happiness Report 2018
df_whr18.isnull().sum()

Country                         0
Happiness Score                 0
GDP per Capita                  0
Social Support                  0
Healthy Life Expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of Corruption       1
dtype: int64

In [97]:
# Check for Missing Values for World Happiness Report 2019
df_whr19.isnull().sum()

Country                         0
Happiness Score                 0
GDP per Capita                  0
Social Support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of Corruption       0
dtype: int64

In [98]:
# Check for Missing Values for World Happiness Report 2020
df_whr20.isnull().sum()

Country                         0
Happiness Score                 0
GDP per Capita                  0
Social Support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of Corruption       0
dtype: int64

In [99]:
# Check for Missing Values for World Happiness Report 2021
df_whr21.isnull().sum()

Country                         0
Happiness Score                 0
GDP per Capita                  0
Social Support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of Corruption       0
dtype: int64

In [111]:
# Check for Missing Values for World Happiness Report 2022
df_whr22.isnull().sum()

Country                         0
Happiness score                 1
GDP per Capita                  1
Social Support                  1
Healthy life expectancy         1
Freedom to make life choices    1
Generosity                      1
Perceptions of Corruption       1
dtype: int64

There is a some missing data. 1 value in the 2018 report, and potentially a row for 2022

#### Addressing Missing Values

In [42]:
# Creating separate dataframe for missing values (2018)
df_whr18_mis = df_whr18[df_whr18['Perceptions of Corruption'].isnull() == True]
# Displaying missing values 
df_whr18_mis.head()

,Country,Happiness Score,GDP per Capita,Social Support,Healthy Life Expectancy,Freedom to make life choices,Generosity,Perceptions of Corruption
19,United Arab Emirates,6.774,2.096,0.776,0.67,0.284,0.186,NaN

A singular missing value, I don't want to remove this row as it can still prove valueable. I'll just impute the median perceptions of corruption for this year.

In [43]:
# Finding the Median value for 2018 WHR Perceptions of Corruption
median_18 = df_whr18['Perceptions of Corruption'].median()
print(median_18)

0.082

In [44]:
# Inserting median value into Missing value
df_whr18.loc[df_whr18['Country'] == 'United Arab Emirates', 'Perceptions of Corruption'] = median_18

In [45]:
#Checking Row
uae = df_whr18.loc[df_whr18['Country'] == 'United Arab Emirates']

In [46]:
print(uae)

                 Country  Happiness Score  GDP per Capita  Social Support  \
19  United Arab Emirates            6.774           2.096           0.776

    Healthy Life Expectancy  Freedom to make life choices  Generosity  \
19                     0.67                         0.284       0.186

    Perceptions of Corruption
19                      0.082

In [49]:
# Check for Missing Values for World Happiness Report 2018
df_whr18.isnull().sum()

Country                         0
Happiness Score                 0
GDP per Capita                  0
Social Support                  0
Healthy Life Expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of Corruption       0
dtype: int64

In [50]:
# Creating separate dataframe for missing values (2022)
df_whr22_mis = df_whr22[df_whr22['Perceptions of Corruption'].isnull() == True]
# Displaying missing values 
df_whr22_mis.head()

,Country,Happiness Score,GDP per Capita,Social Support,Healthy Life Expectancy,Freedom to make life choices,Generosity,Perceptions of Corruption
146,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Seems like an empty row with ano real country (as it lines up with the missing value check), so I'll just remove this.

In [51]:
# Removing all rows that have N/A (In this case it should only be one row)
df_whr22_C = df_whr22.dropna()

In [52]:
df_whr22_C

,Country,Happiness Score,GDP per Capita,Social Support,Healthy Life Expectancy,Freedom to make life choices,Generosity,Perceptions of Corruption
0,Finland,7.821,1.892,1.258,0.775,0.736,0.109,0.534
1,Denmark,7.636,1.953,1.243,0.777,0.719,0.188,0.532
2,Iceland,7.557,1.936,1.320,0.803,0.718,0.270,0.191
3,Switzerland,7.512,2.026,1.226,0.822,0.677,0.147,0.461
4,Netherlands,7.415,1.945,1.206,0.787,0.651,0.271,0.419
...,...,...,...,...,...,...,...,...
141,Botswana*,3.471,1.503,0.815,0.280,0.571,0.012,0.102
142,Rwanda*,3.268,0.785,0.133,0.462,0.621,0.187,0.544
143,Zimbabwe,2.995,0.947,0.690,0.270,0.329,0.106,0.105
144,Lebanon,2.955,1.392,0.498,0.631,0.103,0.082,0.034
145,Afghanistan,2.404,0.758,0.000,0.289,0.000,0.089,0.005

In [53]:
# Verifying Cleaning Worked
df_whr22_C.isnull().sum()

Country                         0
Happiness Score                 0
GDP per Capita                  0
Social Support                  0
Healthy Life Expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of Corruption       0
dtype: int64

We have one less row than the original dataframe (147), so the my cleaning was correct

### Duplicate Data

In [126]:
#Checking for Duplicate Values 2015
df_dups15 = df_whr15[df_whr15.duplicated()]
df_dups15

Empty DataFrame
Columns: [Country, Happiness Score, GDP per Capita, Social Support, Healthy Life Expectancy, Freedom to make life choices, Perceptions of Corruption, Generosity]
Index: []

In [127]:
#Checking for Duplicate Values 2016
df_dups16 = df_whr16[df_whr16.duplicated()]
df_dups16

Empty DataFrame
Columns: [Country, Happiness Score, GDP per Capita, Social Support, Healthy Life Expectancy, Freedom to make life choices, Perceptions of Corruption, Generosity]
Index: []

In [128]:
#Checking for Duplicate Values 2017
df_dups17 = df_whr17[df_whr17.duplicated()]
df_dups17

Empty DataFrame
Columns: [Country, Happiness Score, GDP per Capita, Social Support, Healthy Life Expectancy, Freedom to make life choices, Generosity, Perceptions of Corruption]
Index: []

In [129]:
#Checking for Duplicate Values 2018
df_dups18 = df_whr18[df_whr18.duplicated()]
df_dups18

Empty DataFrame
Columns: [Country, Happiness Score, GDP per Capita, Social Support, Healthy life expectancy, Freedom to make life choices, Generosity, Perceptions of Corruption]
Index: []

In [130]:
#Checking for Duplicate Values 2019
df_dups19 = df_whr19[df_whr19.duplicated()]
df_dups19

Empty DataFrame
Columns: [Country, Happiness Score, GDP per Capita, Social Support, Healthy life expectancy, Freedom to make life choices, Generosity, Perceptions of Corruption]
Index: []

In [131]:
#Checking for Duplicate Values 2020
df_dups20 = df_whr20[df_whr20.duplicated()]
df_dups20

Empty DataFrame
Columns: [Country, Happiness Score, GDP per Capita, Social Support, Healthy life expectancy, Freedom to make life choices, Generosity, Perceptions of Corruption]
Index: []

In [132]:
#Checking for Duplicate Values 2021
df_dups21 = df_whr21[df_whr21.duplicated()]
df_dups21

Empty DataFrame
Columns: [Country, Happiness Score, GDP per Capita, Social Support, Healthy life expectancy, Freedom to make life choices, Generosity, Perceptions of Corruption]
Index: []

In [133]:
#Checking for Duplicate Values 2022
df_dups22 = df_whr22[df_whr22.duplicated()]
df_dups22

Empty DataFrame
Columns: [Country, Happiness score, GDP per Capita, Social Support, Healthy life expectancy, Freedom to make life choices, Generosity, Perceptions of Corruption]
Index: []

No Duplicate Values found

# 04 Data Wrangling

## Adding Year Columns

Since I'm merging all the years for the World Happiness Report for each country I need to differentiate each report by year, so I'm adding a year column for each sheet.

In [54]:
# Adding a new Year column for WHR 2015 
df_whr15['Year'] = 2015

In [55]:
# Adding a new Year column for WHR 2016
df_whr16['Year'] = 2016

In [56]:
# Adding a new Year column for WHR 2017
df_whr17['Year'] = 2017

In [57]:
# Adding a new Year column for WHR 2018 
df_whr18['Year'] = 2018

In [58]:
# Adding a new Year column for WHR 2019
df_whr19['Year'] = 2019

In [59]:
# Adding a new Year column for WHR 2020
df_whr20['Year'] = 2020

In [60]:
# Adding a new Year column for WHR 2021
df_whr21['Year'] = 2021

In [61]:
# Adding a new Year column for WHR 2022
df_whr22_C['Year'] = 2022

C:\Users\Rajit\AppData\Local\Temp\ipykernel_19184\740497296.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_whr22_C['Year'] = 2022

In [62]:
# Checking each dataframe
df_whr22_C.head()

,Country,Happiness Score,GDP per Capita,Social Support,Healthy Life Expectancy,Freedom to make life choices,Generosity,Perceptions of Corruption,Year
0,Finland,7.821,1.892,1.258,0.775,0.736,0.109,0.534,2022
1,Denmark,7.636,1.953,1.243,0.777,0.719,0.188,0.532,2022
2,Iceland,7.557,1.936,1.320,0.803,0.718,0.270,0.191,2022
3,Switzerland,7.512,2.026,1.226,0.822,0.677,0.147,0.461,2022
4,Netherlands,7.415,1.945,1.206,0.787,0.651,0.271,0.419,2022

## Ordering Columns

In [63]:
#Defining a new order for columns (for consistency)
new_order = ['Year', 'Country', 'Happiness Score', 'GDP per Capita', 'Social Support', 
             'Healthy Life Expectancy', 'Freedom to make life choices', 'Generosity', 
             'Perceptions of Corruption']

In [64]:
# Reordering WHR 2015
df_whr15 = df_whr15[new_order]

In [65]:
# Reordering WHR 2016
df_whr16 = df_whr16[new_order]

In [66]:
# Reordering WHR 2017
df_whr17 = df_whr17[new_order]

In [67]:
# Reordering WHR 2018
df_whr18= df_whr18[new_order]

In [68]:
# Reordering WHR 2019
df_whr19 = df_whr19[new_order]

In [69]:
# Reordering WHR 2020
df_whr20 = df_whr20[new_order]

In [70]:
# Reordering WHR 2021
df_whr21 = df_whr21[new_order]

In [71]:
# Reordering WHR 2022
df_whr22_C = df_whr22_C[new_order]

In [89]:
df_whr22_C

,Year,Country,Happiness Score,GDP per Capita,Social Support,Healthy Life Expectancy,Freedom to make life choices,Generosity,Perceptions of Corruption
0,2022,Finland,7.821,1.892,1.258,0.775,0.736,0.109,0.534
1,2022,Denmark,7.636,1.953,1.243,0.777,0.719,0.188,0.532
2,2022,Iceland,7.557,1.936,1.320,0.803,0.718,0.270,0.191
3,2022,Switzerland,7.512,2.026,1.226,0.822,0.677,0.147,0.461
4,2022,Netherlands,7.415,1.945,1.206,0.787,0.651,0.271,0.419
...,...,...,...,...,...,...,...,...,...
141,2022,Botswana*,3.471,1.503,0.815,0.280,0.571,0.012,0.102
142,2022,Rwanda*,3.268,0.785,0.133,0.462,0.621,0.187,0.544
143,2022,Zimbabwe,2.995,0.947,0.690,0.270,0.329,0.106,0.105
144,2022,Lebanon,2.955,1.392,0.498,0.631,0.103,0.082,0.034
145,2022,Afghanistan,2.404,0.758,0.000,0.289,0.000,0.089,0.005

## Merging Datasets

In [75]:
# Concatenating dataframe since they have sam
dataframe_list = [df_whr15, df_whr16, df_whr17, df_whr18, df_whr19, df_whr20, df_whr21, df_whr22_C]

In [77]:
# Concatenate all DataFrames
df_merged = pd.concat(dataframe_list, ignore_index=True)

In [78]:
df_merged

,Year,Country,Happiness Score,GDP per Capita,Social Support,Healthy Life Expectancy,Freedom to make life choices,Generosity,Perceptions of Corruption
0,2015,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978
1,2015,Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145
2,2015,Denmark,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357
3,2015,Norway,7.522,1.45900,1.33095,0.88521,0.66973,0.34699,0.36503
4,2015,Canada,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957
...,...,...,...,...,...,...,...,...,...
1225,2022,Botswana*,3.471,1.50300,0.81500,0.28000,0.57100,0.01200,0.10200
1226,2022,Rwanda*,3.268,0.78500,0.13300,0.46200,0.62100,0.18700,0.54400
1227,2022,Zimbabwe,2.995,0.94700,0.69000,0.27000,0.32900,0.10600,0.10500
1228,2022,Lebanon,2.955,1.39200,0.49800,0.63100,0.10300,0.08200,0.03400
1229,2022,Afghanistan,2.404,0.75800,0.00000,0.28900,0.00000,0.08900,0.00500

# 05 Exporting Data

## Exporting Individual Sheets

I'm Exporting the individual sheets just incase I decide to do something else with them indivudually

In [73]:
# Exporting df_whr15
df_whr15.to_csv(os.path.join(path, '02 Data','Prepared Data', 'WHR2015_Clean.csv'))

In [74]:
# Exporting df_whr16
df_whr16.to_csv(os.path.join(path, '02 Data','Prepared Data', 'WHR2016_Clean.csv'))

# Exporting df_whr17
df_whr17.to_csv(os.path.join(path, '02 Data','Prepared Data', 'WHR2017_Clean.csv'))

# Exporting df_whr18
df_whr18.to_csv(os.path.join(path, '02 Data','Prepared Data', 'WHR2018_Clean.csv'))

# Exporting df_whr19
df_whr19.to_csv(os.path.join(path, '02 Data','Prepared Data', 'WHR2019_Clean.csv'))

# Exporting df_whr20
df_whr20.to_csv(os.path.join(path, '02 Data','Prepared Data', 'WHR2020_Clean.csv'))

# Exporting df_whr21
df_whr21.to_csv(os.path.join(path, '02 Data','Prepared Data', 'WHR2021_Clean.csv'))

# Exporting df_whr22_C
df_whr22_C.to_csv(os.path.join(path, '02 Data','Prepared Data', 'WHR2022_Clean.csv'))

## Exporting Merged Sheet

In [90]:
# Exporting df_merged
df_merged.to_csv(os.path.join(path, '02 Data','Prepared Data', 'WHRMerged.csv'))